body {
    background: black;/*cor de fundo*/
    color: green;
    /*comment: conect por link o css com o html*/
}

a {
    text-decoration: none;
    /*tira a estilização padrão da tag 'a', tag de link*/

    color: green;/*cor de fonte*/
}

/*O grande segredo do css é descobrir quais são as propriedades e os seus valores para conseguir estilizar uma página web*/

img {
    width: 300px;/*largura*/
    heght: 100px; /*altura*/
    /*tamanho da imagem*/
}
