header {
    border: 2px solid violet;
    padding: 60px; /*preenchimento interno da caixa*/
}

h1 {
    border: 2px solid green;

    heght: 60px; /*altura da caixa*/
}

p {
    margin: 20px;

    border: 2px solid blue;
}

span {
    border:  1px solid pink;
}
