header {
    border: 2px solid violet;
    padding: 60px; /*preenchimento interno da caixa*/
}

h1 {
    border: 2px solid green;
    display: inline;
    heght: 60px; /*altura da caixa*/
}

p {
    margin: 20px;
    display: inline;/*faz o elemento ficar ao lado do outro*/
    border: 2px solid blue;
}

span {
    border:  1px solid pink;
    display: block; /*coloca um span abaixo do outro*/
}
