* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*a medida do tamanho da caixa medida pela borda*/
}

body {
   /*
   background-image: url(./assets/bg-mobile.jpg);
   background-repeat: no-repeat;
   background-position: top center; /*posicionando ao centro*/
   /*background-size: cover;/*preenche todo o espaço visível*/

 /*agrupamento de todo o código acima em um só*/
   background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
   
}

body * {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

#container {
   width: 360px;
   /*alinhando caixa ao centro
   margin-right: auto;
   margin-left: auto;*/
   margin: 56px auto 0px;
}

#profile {
  /*segunda forma de alinhar elemento ao centro*/
  text-align: center;
  padding: 24px;
  margin-top: 8px;
}

#profile img {
   width: 112px;    /*geralmente no css não precisamos definir a altura, ela segue o conteúdo da página*/
   
   /*alinhando a img ao centro*/
   /*margin: auto;
   /*display: block;*/
}

#profile p {
  font-weight: 500; /*peso da fonte*/
  font-size: 16px; /*tamanho da fonte - por padrão é 16px então é opcional colocar neste caso*/
  line-height: 24px; /*altura da linha*/
}

/*links - lista*/
ul {
  list-style: none; /*estilo da lista*/
  flex-direction: column;
  gap: 8px; /*coloca espaço entre os elementos*/
}

ul li a {
  display: flex;
  display: flex;
  justify-content: center;
  /*align-items: center; deixa os elementos no topo*/
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
}
/*o li sempre ocupa 100% do espaço da caixa*/
