body {
   /*
   background-image: url(./assets/bg-mobile.jpg);
   background-repeat: no-repeat;
   background-position: top center; /*posicionando ao centro*/
   /*background-size: cover;/*preenche todo o espaço visível*/

 /*agrupamento de todo o código acima em um só*/
   background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
   
}

body * {
  font-family: 'Inter', sans-serif;
}

#container {
   height: 712px;
   width: 360px;
   border: 1px solid red;

   /*alinhando caixa ao centro
   margin-right: auto;
   margin-left: auto;*/
   margin: auto;
}

#profile {
  /*segunda forma de alinhar elemento ao centro*/
  text-align: center;
}

#profile img {
   width: 112px;    /*geralmente no css não precisamos definir a altura, ela segue o conteúdo da página*/
   
   /*alinhando a img ao centro*/
   /*margin: auto;
   /*display: block;*/
}
